script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/core.js')
script(src='/javascripts/sio.js')

div#container
  h1 Realtime Twitter Stream
  a(id='allTweets', href='allTweets') (Show tweets from db)
  ul#latest_tweets
